encryption = "age"

[age]
    identity = "~/.config/chezmoi/key.txt"
    recipient = "age1dpzahk7ekp3z9x6kdw9kvcr67cxw7n0jz2a2cex9n2axuwx8zgysdey5aa"

[data]
    work = {{ promptBoolOnce . "work" "Is this a work machine" }}
